<!DOCTYPE html>
<html lang="en">

<head>
  {% extends "layout.html" %}
  {% block head %}
  {{ super() }}
  <title>About Us</title>
  <!-- Favicon no longer needed -->
  <!-- <link rel="shortcut icon" type="image/jpg" href="static\images\favicon.ico"/> -->
  {% endblock %}
</head>

<body>
  <!-- Main Content -->
  {% block myContent %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

          <h1>About Us Page</h1>
          <p>We are a group of students from the College of Engineering (CE) in the University of Business and Technology (UBT)</p>
          <p>We are tasked with a project of creating a Ruberic Cube Using multiple programming languages like Html CSS JavaScript and Python.</p>
          

          <body>
          <!-- Insert Student name and ID in a card with/without background image -->
            <div class="container mt-3">
              <div class="card" style="width:400px">
                <img class="card-img-bottom" src="/static/images/img_avatar1.png" alt="Card image" style="width:40%">

                <div class="card-body">
                  <h4 class="card-title">Fahad Shaif</h4>
                  <small class="card-id"> PB0086</small>
                  <p class="card-text"> Fahad Shaif is full stack engineer engineer</p>
                  <a href="#" class="btn btn-primary">See Profile</a>
                </div>
             </div>

              <br>

              <div class="container mt-3">
                <div class="card" style="width:400px">
                 <img class="card-img-bottom" src="/static/images/img_avatar1.png" alt="Card image" style="width:40%">
  
                 <div class="card-body">
                    <h4 class="card-title">Omar Alattas</h4>
                    <small class="card-id"> SA0169</small>
                    <p class="card-text"> Omar Alattas is full stack engineer engineer</p>
                   <a href="#" class="btn btn-primary">See Profile</a>
                  </div>
                </div>

                

               <div class="container mt-3">
                  <div class="card" style="width:400px">
                   <img class="card-img-bottom" src="/static/images/img_avatar1.png" alt="Card image" style="width:40%">
    
                   <div class="card-body">
                      <h4 class="card-title">Saleh Alamoudi</h4>
                     <small class="card-id"> SA0199</small>
                     <p class="card-text"> Saleh Alamoudi is engineer</p> 
                     <a href="#" class="btn btn-primary">See Profile</a>
                   </div>
                  </div>
                               
            
              <div class="card" style="width:400px">
               <img class="card-img-bottom" src="/static/images/img_avatar1.png" alt="Card image" style="width:40%">

                <div class="card-body">
                  <h4 class="card-title">Ameer Bijabni</h4>
                  <small class="card-id"> SA0220</small>
                  <p class="card-text"> Ameer Binjabi is a API tester engineer</p>
                 <a href="#" class="btn btn-primary">See Profile</a>
                </div>
              </div>
            </div>
          </div>
        </div>

          
          </body>


  {% endblock myContent %}
</body>
</html>
