<!DOCTYPE html>
<html lang="en">

<head>
  <title>About Us</title>
  <!-- Favicon and touch icons -->
  <link rel="shortcut icon" type="image/jpg" href="static\images\favicon.ico"/>
</head>

<body>
  <!-- Main Content -->
  {% extends "layout.html" %}
  {% block myContent %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

          <h1>About Us Page</h1>
          <p>We are a group of students from the College of Engineering (CE) in the University of Business and Technology (UBT)</p>
          <p>We are tasked with a project of creating a Ruberic Cube Using multiple programming languages like Html CSS JavaScript and Python.</p>
          
        
        <div class="container">
          <div class="row">
            <div class="col-12">
             <p>The following are the participants names and ID's:</p>
             <!-- Insert Student name and ID in a table with/without background image -->
             <table style="margin:auto">
              <tr>
                <th>#</th>
                <th>name</th>
                <th>ID</th>
              </tr>
              <tr>
                <td>1</td><td>Fahad Shaif</td><td>PB0086</td>
              </tr>
              <tr>
                <td>2</td><td>Omar Alattas</td><td>SA0169</td>
              </tr>
              <tr>
                <td>3</td><td>Ameer Binjabi</td><td>SA0220</td>
              </tr>
              <tr>
                <td>4</td><td>Saleh Alamoudi</td><td>SA0199</td>
              </tr>
             </table>
            </div>
            <div class="col-12 text-danger">
             <p> Please note that this practice project is made for testing and evaluation porpuses only.</p>
            </div>
            <div class="col-12 alert alert-danger">Do Not Attempt to Copy or Sell!
              <i class="bi bi-alarm-fill"></i>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  {% endblock myContent %}
</body>
</html>
