<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <!-- Favicon and touch icons -->
  <link rel="shortcut icon" type="image/jpg" href="static\images\Favicon.ico"/>
</head>

<body>

  <!-- Main Content -->
  {% extends "layout.html" %}
  {% block myContent %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>some content <img src="https://fakeimg.pl/100/"></p>
        <p>Placeholder image<img src="https://fakeimg.pl/50/"></p>
        <p>another place holder image<img src="https://fakeimg.pl/30/"></p>
        <i class="fa fa-marker"></i>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate tempora ipsa doloremque ratione voluptatem ut velit. Facilis, alias deleniti quasi, sit nisi tempore fugit minus vero accusantium illum animi explicabo dicta! Eos delectus voluptas, velit nobis minus blanditiis provident consectetur natus aliquam magni cum aperiam mollitia at cumque fugiat voluptate, non et quisquam distinctio. Fugiat consequuntur est ex repellendus aspernatur. Numquam ad molestiae explicabo consequuntur cum praesentium ipsum quisquam voluptatum rerum repudiandae consectetur, assumenda, vero nemo fugiat architecto repellat tempore inventore modi ut? Atque quisquam modi, commodi omnis, officia earum quasi quam adipisci, maxime facilis exercitationem molestiae repudiandae iste fugit?
        <div class="container">
          <div class="row">
            <div class="col-12 text-danger">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente, nemo vitae! Repellat blanditiis culpa excepturi quos ratione dolorum molestias iusto cupiditate distinctio mollitia, quis ad perspiciatis incidunt ipsum, doloremque possimus.
            </div>
            <div class="col-12 alert alert-danger">Lorem ipsum dolor sit amet.
              <i class="bi bi-alarm-fill"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock myContent %}

</body>
</html>
