<!DOCTYPE html>
<html lang="en">
<head>
  {% extends "layout.html" %}
  {% block head %}
  {{ super() }}
  <title>Mobile Portal</title>
  <!-- Favicon no longer needed -->
  <!-- <link rel="shortcut icon" type="image/jpg" href="static\images\favicon.ico"/> -->
  
  <!-- Mobile Data -->
  <script src="static/mobile-data.js"></script>
  {% endblock %}

</head>
<body>
  <!-- Main Content -->
  {% block myContent %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

          <h1>Mobiles Page</h1>
          <p>this page contains all mbile's data from <br><code>mobile-data.js</code> </p>  
          
          <main>
            <!--TO UPDATE TABLE-->
            <div id="table"></div>
                      
          
      </div>
    </div>
  </div>
  <script>
    // Console loop
    for (m of mobiles ){
    m.title
    console.log(m.title)
    }
  
    // For loop to post all data into table
    mytable =
      "<table class='table'>" +
      "<tr><th>title</th><th>desc</th><th>price</th>";
  
    for (i = 0; i < 5; i++) {
      mytable +=
        "<tr><td>" +
        i +
        "</td><td>" +
          mobiles[i].title +
        "</td><td>" +
          mobiles[i].desc +
        "</td><td>" +
          mobiles[i].price +
        "</td><td>";
    }
    mytable += "</table>";
    document.getElementById("table").outerHTML = mytable;
  
  </script>
  {% endblock myContent %}

</body>
</html>



